body{
    margin: 0%;
}

header{
    background-color: aquamarine;
    text-align: center;
}
.background{
    background-color: black;
}
.información{
    vertical-align: middle;
    margin-top: 100px;
    margin-bottom: 90px;
    color: white;
}
.text-center img{
   width: 20rem;
   margin-top: 110px;
   margin-bottom: 110px;
   padding-left: 40px;
}
.redes{
    padding-right: 15px;
}
.datos{
    text-align: center;
}
.educación{
    text-align: center;
}
.portafolio i{
    font-size: 50px;
    margin-left: 55rem;
}